.mt-1{
  margin-top: 1em;
}
.mt-2{
  margin-top: 2em;
}
.mt-3{
  margin-top: 3em;
}
.mt-4{
  margin-top: 4em;
}

.mb-1{
  margin-bottom: 1em;
}
.mb-2{
  margin-bottom: 2em;
}
.mb-3{
  margin-bottom: 3em;
}
.mb-4{
  margin-bottom: 4em;
}

.ml-1{
  margin-left: 1em;
}
.ml-2{
  margin-left: 2em;
}
.ml-3{
  margin-left: 3em;
}
.ml-4{
  margin-left: 4em;
}

.mr-1{
  margin-right: 1em;
}
.mr-2{
  margin-right: 2em;
}
.mr-3{
  margin-right: 3em;
}
.mr-4{
  margin-right: 4em;
}

.modal{
  min-width: 300px;
}

.uppercase-text{
  text-transform: uppercase;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .modal-fixed-footer.open{
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100% !important;
  }
}

select.browser-default{
  border: none;
  border-bottom: 1px solid #9e9e9e;
}
