<template name="addInventory">
  <div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red modal-trigger" href="#add_inventory">
        <i class="large material-icons">add</i>
      </a>
    </div>
    <div id="add_inventory" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Neues Objekt</h4>
        <div class="row">
          <div class="input-field col s12 m8">
            <input id="inventory_name" type="text" class="validate">
            <label for="inventory_name">Objektname</label>
          </div>
          <div class="input-field col s12 m4">
            <input id="inventory_amount" type="text" class="validate">
            <label for="inventory_amount">Anzahl</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="add_inventory_abord" class="btn waves-effect red white-text left">Abbrechen</a>
        <a id="add_inventory_submit" class="btn waves-effect green white-text">Hinzufügen</a>
      </div>
    </div>
  </div>
</template>
