<template name="editInventory">
  <div class="container">
    <h4>Objekt bearbeiten</h4>
    {{#let object=get_object}}
    <div class="row">
      <div class="input-field col s12 m6">
        <input id="inventory_name" type="text" class="validate" value="{{object.name}}">
        <label for="inventory_name" class="active">Objektname</label>
      </div>
      <div class="input-field col s12 m6">
        <input id="inventory_amount" type="text" class="validate" value="{{object.amount}}">
        <label for="inventory_amount" class="active">Menge</label>
      </div>
    </div>
    {{#if permission "deleteInventory"}}
      {{> deleteButton id=object._id collection="inventory" name=object.name}}
    {{/if}}
    {{/let}}
    <a href="/inventory" class="btn green right">zurück</a>
  </div>
</template>
