<template name="inventory">
  <div class="container">
    <h3>Inventar</h3>
    <ul class="collection">
    {{#each get_inventory}}
      <li class="collection-item">
        Objekt: {{name}}<br>
        Anzahl: {{amount}}
        <a href="/inventory/edit/{{_id}}" class="right"><i class="material-icons">edit</i></a>
      </li>
    {{else}}
      <li class="collection-item">Keine Objekte</li>
    {{/each}}
    </ul>
    {{#if permission "inventory"}}
      {{> addInventory}}
    {{/if}}
  </div>
</template>
