<template name="deleteButton">
  <a id="deleteButton" class="btn red waves-effect waves-light modal-trigger" data-target="deleteModal">Löschen</a>
  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <h4>Soll <b>{{name}}</b> wirklich gelöscht werden?</h4>
      <p>Mit dem Klick auf <i class="uppercase-text">löschen</i> wird <b>{{name}}</b> unwiederruflich gelöscht.</p>
    </div>
    <div class="modal-footer">
      <a class="grey btn white-text modal-close waves-effect left">abbrechen</a>
      <a id="deleteButtonSubmit" class="red btn white-text modal-close waves-effect waves-green right">löschen</a>
    </div>
  </div>
</template>
