<template name="addMember">
  <div>
    <div class="fixed-action-btn">
      <a id="open_add_member" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
    </div>
    <div id="add_member" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Neues Mitglied</h4>
        <div class="row">
          <div class="col s12 m6">
            <div class="input-field">
              <input id="prename" type="text" class="validate">
              <label for="prename">Vorname</label>
            </div>
            <div class="input-field">
              <input id="lastname" type="text" class="validate">
              <label for="lastname">Nachname</label>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="input-field">
              <div id="groups" class="chips"></div>
              <label for="groups" class="active">Gruppen</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="add_member_abord" class="btn waves-effect red white-text left">Abbrechen</a>
        <a id="add_member_submit" class="btn waves-effect green white-text">Hinzufügen</a>
      </div>
    </div>
  </div>
</template>
