<template name="editMember">
  <div class="container">
    {{#let member=get_member}}
    <h4>Mitglied bearbeiten</h4>
    <div class="row">
      <div class="col s12 m6">
        <div class="input-field">
          <input id="prename" type="text" class="validate" value="{{member.prename}}">
          <label for="prename" class="active">Vorname</label>
        </div>
        <div class="input-field">
          <input id="lastname" type="text" class="validate" value="{{member.lastname}}">
          <label for="lastname" class="active">Nachname</label>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="input-field">
          <div id="groups" class="chips"></div>
          <label for="groups" class="active">Gruppen</label>
        </div>
      </div>
    </div>
    {{#if permission "deleteMember"}}
      {{> deleteButton id=member._id collection="members" name=member.prename}}
    {{/if}}
    {{/let}}
    <a href="/members" class="btn green right">zurück</a>
  </div>
</template>
