<template name="members">
  <div class="container">
    <h3>Mitglieder</h3>
    <ul class="collection">
    {{#each get_members}}
      <li class="collection-item">{{prename}} {{lastname}} {{groupname groupIds}}
        {{#if permission "editMember"}}
          <a href="/members/edit/{{_id}}" class="right"><i class="material-icons">edit</i></a>
        {{/if}}
      </li>
    {{else}}
      <li class="collection-item">Keine Mitglieder</li>
    {{/each}}
    </ul>
    {{#if permission "addMember"}}
      {{> addMember}}
    {{/if}}
  </div>
</template>
