<template name="nav">
<nav class="red" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="page brand-logo">DLRG</a>

    <ul id="nav-main" class="right ">
      {{#each pages}}
      <li class="{{active}} hide-on-med-and-down">
        <a href="{{route}}">{{title}}</a>
      </li>
      {{/each}}
      <li>
         <a class='dropdown-trigger' data-target='settings'><i class="material-icons">person</i></a>
         <ul id='settings' class='dropdown-content' style="top:auto !important">
             <li><a href="/users/edit/{{currentUser._id}}">Profil</a></li>
             {{#if permission "editUser"}}<li><a href="/users">Benutzer</a></li>{{/if}}
             <li class="divider" tabindex="-1"></li>
             <li><a id="logout"><i class="material-icons">logout</i>Ausloggen</a></li>
         </ul>
      </li>
    </ul>
    <a data-target="nav-mobile" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="sidenav">
      <li><h3 class="red-text ml-1">Menü</h3></li>
      {{#each pages}}
      <li class="{{active}}"><a href="{{route}}">{{title}}</a></li>
      {{/each}}
    </ul>
  </div>
</nav>
</template>
