<template name="addUser">
  <div>
    <div class="fixed-action-btn">
      <a id="open_add_user" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
    </div>
    <div id="add_user" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Neuer Benutzer</h4>
        <div class="row">
          <form class="col s12 m6">
            <div class="input-field">
              <input id="username" type="text" autocomplete="new-username">
              <label for="username">Benutzername</label>
            </div>
            <div class="input-field">
              <input id="password" type="password" autocomplete="new-password">
              <label for="password">Passwort</label>
            </div>
          </form>
          <div class="col s12 m6"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="add_user_abord" class="btn waves-effect red white-text left">Abbrechen</a>
        <a id="add_user_submit" class="btn waves-effect green white-text">Hinzufügen</a>
      </div>
    </div>
  </div>
</template>
