<template name="editUser">
  <div class="container">
    <h4>Benutzer bearbeiten</h4>
    {{#let user=get_user}}
    <div class="row">
      <form class="col s12 m6">

        <div class="input-field">
          <input id="username" type="text" value="{{user.username}}" autocomplete="current-username">
          <label for="username" class="active">Benutzername</label>
        </div>
        {{#if equal user._id currentUser._id}}
        <div class="input-field">
          <input id="currentPassword" type="password" autocomplete="current-password">
          <label for="currentPassword">Aktuelles Passwort</label>
        </div>
        <div class="input-field">
          <input id="newPassword" type="password" autocomplete="new-password">
          <label for="newPassword">Neues Passwort</label>
        </div>
        <div class="input-field">
          <input id="newPassword2" type="password" autocomplete="new-password">
          <label for="newPassword2">Neues Passwort wiederholen</label>
        </div>
        <a id="changePassword" class="btn orange left">Passwort ändern</a>
        {{/if}}
      </form>

      <div class="col s12 m6">
        <h5>Berechtigungen</h5>
        <ul>
          {{#each get_permissions}}
            {{#if divider}}
              <li class="divider"></li>
            {{else}}
              <li>
                <label>
                  <input type="checkbox" class="permission" value="{{key}}" {{disabled}} {{checked}} />
                  <span>{{label}}</span>
                </label>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{#if deletePermission}}
      {{> deleteButton id=user._id collection="users" name=user.username}}
    {{/if}}
    {{/let}}
    {{#if permission "editUser"}}
      <a href="/users" class="btn green right">zurück</a>
    {{/if}}
  </div>
</template>
