<template name="users">
  <div class="container">
    <h3>Benutzer</h3>
    <ul class="collection">
    {{#each get_users}}
      <li class="collection-item">{{username}}
        {{#if permission "editUser"}}
          <a href="/users/edit/{{_id}}" class="right"><i class="material-icons">edit</i></a>
        {{/if}}
      </li>
    {{else}}
      <li class="collection-item">Keine Benutzer</li>
    {{/each}}
    </ul>
    {{#if permission "editUser"}}
      {{> addUser}}
    {{/if}}
  </div>
</template>
