<template name="home">
    <div class="row">

      {{#if count events_today}}
      <div class="col s12 m6 l4">
        <h4>Heute</h4>
        <ul class="collection">
        {{#each events_today}}
          <li class="collection-item">{{the_time date}} - {{title}}
            <div class="right">
              <a href="/attendence/{{_id}}"><i class="material-icons">check</i></a>
            </div>
          </li>
        {{/each}}
        </ul>
      </div>
      {{/if}}

      <div class="col s12 m6 l4">
        <h4>Anwesenheit</h4>
        <div style="max-height:15em; overflow-y: auto">
        <ul class="collection">
          {{#each most_attendence "present"}}
            <li class="collection-item">{{prename}} {{lastname}}: <div class="right">{{attendence}}</div></li>
          {{else}}
            <li class="collection-item">Keine Mitglieder</li>
          {{/each}}
        </ul>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <h4>Zahlen</h4>
        <ul class="collection">
          <li class="collection-item">Mitglieder: <div class="right">{{count get_members}}</div></li>
          <li class="collection-item">Veranstaltungen: <div class="right">{{count get_events}}</div></li>
          <li class="collection-item">Anwesend pro Training: <div class="right">{{average_attendence "present"}}</div></li>
          <li class="collection-item">Abwesend pro Training: <div class="right">{{average_attendence "missing"}}</div></li>
          <li class="collection-item">Entschuldigt pro Training: <div class="right">{{average_attendence "excused"}}</div></li>
        </ul>
      </div>

    </div>
</template>
