<template name="addEvent">
  <div>
    <div class="fixed-action-btn">
      <a id="open_add_events" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
    </div>
    <div id="add_events" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Neuer Termin</h4>
        <div class="row">
          <div class="col s12 m6">
            <div class="input-field">
              <input id="title" type="text">
              <label for="title">Titel</label>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="input-field">
              <input id="date" type="text" class="datepicker">
              <label for="date">Datum</label>
            </div>
            <div class="input-field">
              <input id="time" type="text" class="timepicker">
              <label for="time">Uhrzeit</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="add_events_abord" class="btn waves-effect red white-text left">Abbrechen</a>
        <a id="add_events_submit" class="btn waves-effect green white-text">Hinzufügen</a>
      </div>
    </div>
  </div>
</template>
