<template name="editEvent">
  <div class="container">
    <h4>Termin bearbeiten</h4>
    {{#let event=get_event}}
    <div class="row">
      <div class="col s12 m6">
        <div class="input-field">
          <input id="title" type="text" value="{{event.title}}">
          <label for="title" class="active">Titel</label>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="input-field">
          <input id="date" type="text" class="datepicker" value="{{the_date event.date}}">
          <label for="date" class="active">Datum</label>
        </div>
        <div class="input-field">
          <input id="time" type="text" class="timepicker" value="{{the_time event.date}}">
          <label for="time" class="active">Uhrzeit</label>
        </div>
      </div>
    </div>
    {{#if permission "deleteEvent"}}
      {{> deleteButton id=event._id collection="events" name=event.title}}
    {{/if}}
    {{/let}}
    <a href="/events" class="btn green right">zurück</a>
  </div>
</template>
