<template name="events">
  <div class="container">
    <h3>Termine</h3>
    <ul class="collection">
    {{#each get_events}}
      <li class="collection-item" style="display:grid;grid-template-columns:auto 1fr auto; grid-gap:1rem">
        <div>{{the_date date}}<br>{{the_time date}}</div>
        <div style="justify-self:center"><h6>{{title}}</h6></div>
        <div>
          {{#if permission "editEvent"}}
            <a href="/events/edit/{{_id}}" class="right"><i class="material-icons">edit</i></a>
          {{/if}}
        </div>
      </li>
    {{else}}
      <li class="collection-item">Keine Termine</li>
    {{/each}}
    </ul>
    {{#if permission "addEvent"}}
      {{> addEvent}}
    {{/if}}
  </div>
</template>
