<template name="attendence">
  <div class="container">
    <h3>Anwesenheit</h3>
    <div class="row">
      <div class="input-field col s12 m6 l4">
      <select id="eventId" class="browser-default">
          <option value="">Wähle Veranstaltung</option>
        {{#each get_events}}
          <option value="{{_id}}" {{selected_if_equal _id selectedEventId}}>{{the_dateTime date}} {{title}}</option>
        {{else}}
          <option disabled>Keine Termine</option>
        {{/each}}
      </select>
      <label for="eventId" class="active">Veranstaltung</label>
      </div>

      {{#if selectedEventId}}
        <div class="input-field col s12 m6 l3">
        <select id="groupId" class="browser-default">
            <option value="">Keine Gruppe ausgewählt</option>
          {{#each get_groups}}
            <option value="{{_id}}" {{selected_if_equal _id selectedGroupId}}>{{name}}</option>
          {{else}}
            <option disabled>Keine Gruppen</option>
          {{/each}}
        </select>
        <label for="groupId" class="active">Gruppe</label>
        </div>
        <div class="input-field col s12 l5">
          <input id="search" type="text" value="{{searchFilter}}" placeholder="Vorname / Nachname">
          <label for="search" class="active">Suche</label>
        </div>
        <ul class="collection">
          <li class="collection-item">Name
            <div class="right">
              <span style="margin-right:.5em">Anw.</span>
              <span style="margin-right:.4em">Ents.</span>
              <span style="margin-right:.4em">Fehlt</span>
            </div>
          </li>
        {{#each get_members}}

          <li class="collection-item">{{prename}} {{lastname}}
            <div class="right">
            <label>
              <input class="attendence with-gap" name="{{_id}}" type="radio" value="present" {{disabled_by_permission attendence}} {{checked_if_present attendence}} />
              <span></span>
            </label>
            <label>
              <input class="attendence with-gap" name="{{_id}}" type="radio" value="excused" {{disabled_by_permission attendence}} {{checked_if_excused attendence}} />
              <span></span>
            </label>
            <label>
              <input class="attendence with-gap" name="{{_id}}" type="radio" value="missing" {{disabled_by_permission attendence}} {{checked_if_missing attendence}} />
              <span></span>
            </label>
            </div>
          </li>
        {{else}}
          <li class="collection-item">Keine Mitglieder in gewählter Gruppe</li>
        {{ /each}}
        </ul>
      {{/if}}
    </div>
  </div>
</template>
