<template name="addGroup">
  <div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red modal-trigger" href="#add_group">
        <i class="large material-icons">add</i>
      </a>
    </div>
    <div id="add_group" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Neue Gruppe</h4>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="group_name" type="text" class="validate">
            <label for="group_name">Gruppen Name</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="add_group_abord" class="btn waves-effect red white-text left">Abbrechen</a>
        <a id="add_group_submit" class="btn waves-effect green white-text">Hinzufügen</a>
      </div>
    </div>
  </div>
</template>
