<template name="editGroup">
  <div class="container">
    <h4>Gruppe bearbeiten</h4>
    {{#let group=get_group}}
    <div class="row">
      <div class="input-field col s12 m6">
        <input id="group_name" type="text" class="validate" value="{{group.name}}">
        <label for="group_name" class="active">Gruppenname</label>
      </div>
    </div>
    {{#if permission "deleteGroup"}}
      {{> deleteButton id=group._id collection="groups" name=group.name}}
    {{/if}}
    {{/let}}
    <a href="/groups" class="btn green right">zurück</a>
  </div>
</template>
