<template name="groups">
  <div class="container">
    <h3>Gruppen</h3>
    <ul class="collection">
    {{#each get_groups}}
      <li class="collection-item">{{name}}
        {{#if permission "editGroup"}}
          <a href="/groups/edit/{{_id}}" class="right"><i class="material-icons">edit</i></a>
        {{/if}}
      </li>
    {{else}}
      <li class="collection-item">Keine Gruppen</li>
    {{/each}}
    </ul>
    {{#if permission "addGroup"}}
      {{> addGroup}}
    {{/if}}
  </div>
</template>
